/* Element-Selector */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

/* ID-Selector */
#title {
  background-color: #ff4c68;
}

/* Class-Selector */
.container-fluid {
  padding: 3% 15%;
}
